.hero-banner-container {
  padding: 100px 40px;
  background-color: #dcdcdc;
  border-radius: 15px;
  position: relative;
  height: 500px;
  line-height: 0.9;
  width: 100%;
}
.hero-banner-container .beats-solo {
  font-size: 20px;
}
.hero-banner-container button {
  border-radius: 15px;
  padding: 10px 16px;
  background-color: #f02d34;
  color: white;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  z-index: 10000 !important;
}

.hero-banner-container h3 {
  font-size: 4rem;
  margin-top: 4px;
  color: #324d67;
}
.hero-banner-container h1 {
  color: white;
  font-size: 10em;
  margin-left: -20px;
  text-transform: uppercase;
}
.hero-banner-image {
  position: absolute;
  top: 10%;
  right: 30%;
  width: 400px;
  height: 400px;
}

@media screen and (max-width: 450px) {
  .hero-banner-container {
    height: 560px;
  }
  .hero-banner-image {
    width: 77%;
    height: 62%;
    top: -2%;
    right: -6%;
  }

  .hero-banner-container {
    line-height: 1.3;
  }
  .hero-banner-container h1 {
    font-size: 50px;
  }
  .hero-banner-container h3 {
    font-size: 40px;
  }
  .hero-banner-container button {
    margin-top: 90px;
    z-index: 10000;
  }
}
